.introducao-bg {
  background-color: var(--c12);
  box-shadow: inset 0 -120px #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  gap: 0 40px;
  color: white;
}

.introducao-text {
  padding-bottom: 200px;
  align-self: end;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 1.125;
}

.introducao h1 span {
  color: #ffbf00;
}

.introducao p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
  margin-bottom: 20px;
}
.introducao a {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  color: #332200;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.33rem;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.introducao img {
  height: 100%;
  object-fit: cover;
}
