.vantagens-seguro-bg {
  background-color: var(--c12);
}

.vantagens-seguro {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens-seguro h2 {
  margin-bottom: 60px;
}

.vantagens-seguro ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.vantagens-seguro h3,
.vantagens-seguro img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens-seguro {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .vantagens-seguro h2 {
    margin-bottom: 40px;
  }
  .vantagens-seguro ul {
    gap: 20px;
  }
}
